@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";

/*! Header */
.ui.secondary.menu {
    background: rgb(174, 185, 207) !important;
    margin: 0 !important; 
    height: 80px;
  }
.title.item {
	font-size:large;
	font-weight: 200;
}

.title.item:hover {
	color: blue;
}

/*! Weclome Page */
 .para {
   font-size: large;
   font-family: 'Poppins', sans-serif;
   color: gray;
   letter-spacing: 0.5px;
 }
 
 h3 {
  letter-spacing: 0.5px;
 }

 .create {
   background-color:blue; /* Green */
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
 }

 .log {
   color: grey;
   letter-spacing: 0.5px;
   
 }

 #font {
  font-family: 'Poppins', sans-serif;
 }

 li {
	list-style-type: none!important;
}

ul {
	margin-bottom: 20px;
	margin-left: -50px;
}

ul li {
	color: #232525;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	/* font-size: 1.4rem; */
	font-weight: 600;
	letter-spacing: 0.5px;
	/* text-transform: uppercase; */
}

ul.checkmark {
	margin-top: 20px;
}

ul.checkmark li:before {
	font-size: 20px;
	/* font-size: 4.8rem; */
	vertical-align: middle;
}

ul.checkmark li:before {
	color: blue;
	content: "✓";
	display: inline-block;
	font-family: 'ionicons';
	margin-left: -36px;
	width: 36px;
}

ul.checkmark li {
	line-height: 1;	
	padding: 8px 0 8px 36px;
}

/*! Login Page */

#container.container {
	margin-top: 80px;
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}



#login {
	margin-top: 70px;
	margin-left: 20px;
	margin-right: 20px;
}

/*! Home/Post */

#postlist.ui.comments {
	margin-right: 0;
	max-width: none;
	
}

#feed {
	text-align: center;
	margin-top: 20px;
}

#content.ui.contents {
	overflow: scroll;
	height: 400px;
}